/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");
/* end */

.jumbotron {
  padding-top: 8rem;
  background-color: #e2edff;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* Project */
#projects {
  background-color: #e2edff;
  margin-bottom: -10%;
}

#projects .col {
  font-family: "lucida sans";
}
/* End */

#About .col {
  font-family: "lucida sans";
}

section {
  padding-top: 5rem;
}

/* Galery */
.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0%;
}

#gallery .col {
  font-family: "Lucida Sans";
}
/* end */

/* My Tols */
#my-tool {
  background-color: #e2edff;
}

#my-tool .col {
  font-family: "lucida sans";
}

.kamera-box {
  position: relative;
  background-color: #0c6efd;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.kamera-box::before {
  content: "MY";
  position: absolute;
  color: #ffff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 20px;
  left: 35%;
  transform: translate(-10%, 0);
  opacity: 0;
  transition: 0.5s;
}

.kamera-box:hover::before {
  opacity: 0.2;
}

.kamera-box::after {
  content: "KAMERA";
  position: absolute;
  color: #ffff;
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  top: 360px;
  left: 7%;
  transform: translate(10%, 0);
  opacity: 0;
  transition: 0.5s;
}

.kamera-box:hover::after {
  opacity: 0.2;
}

.kamera-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.kamera-box:hover .kamera-name {
  top: 10px;
  opacity: 1;
}

.kamera-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}

.kamera-box:hover .kamera-button {
  opacity: 1;
  bottom: 15px;
}

.kamera-img {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate3d(-50%, -50%, 80px);
  max-width: 200px;
  transition: 0.5s;
}

.kamera-box:hover .kamera-img {
  transform: translate3d(-50%, -52%, 100px) rotate(5deg) scale(1.2);
}

/* end */

/* Contact */

#contact .col {
  font-family: "lucida sans";
}

#contact .svg {
  background-position: 0%;
}
/* end */

.display-4 {
  font-family: Georgia;
  margin-top: 1%;
}
